<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="icon" href= "{% static "img/logo.jpg" %} " href="index.html">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <title> Inicio - Cheems Market</title>
  </head>
  <body class="conteimner fluid" background="{% static "img/background_04.jpg" %} ">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--Encabezado-->
    <header class="conteiner-fluid bg-success fs-6 d-flex justify-content-center mb-2 fixed-top ">
      <div class="topnav p-1">
          <form action="">
            <input class="text-center"  type="text" placeholder="Usuario" name="username">
            <input class="text-center "type="password" placeholder="Contraseña" name="psw">
            <button type="button" class="btn btn-warning p-1 mb-1">Ingresar</button>
          </form>
        </div>
      </header>

      <div class="welcome">
        <h1 class="display-5 bg- text-center text-light p-4 fs-1 bg-success">Bienvenido a Cheems Market</h1>
        <img src="{% static 'img/logo.jpg' %}" id="logo" >
        <h1 class="text-dark d-flex justify-content-center fs-2 mt-2 bg- p-2">"Nosotros tambien amamos a los animales"</h1>
      </div>
  
    <!--Barra de navegacion-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 mt-5 fixed-top"menu" scr="">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src= "{% static "img/logo.jpg" %} " href="index.html" width="40px" height="40px" class="rounded-pill"> 
            <span><strong>Cheems Market</strong></span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ol class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tienda.html">Tienda</a>           
              </li>
              <li class="nav-item">
                <a class="nav-link" href="donaciones.html">Donaciones</a>           
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contacto.html">Contacto</a>           
              </li>
            </ol>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
      
      

      <!--CARROUSEL-->
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <center> 
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <a title="Nosotros" href="nosotros.html"><img src="{% static "img/nosotros_02.jpg" %} " alt="Nosotros"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5>Nosotros</h5>
              <p>Somos una tienda sin fines de lucro, el cual el total de las ventas las donamos a fundaciones de animalitos</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a title="Tienda" href="tienda.html"><img src="{% static "img/perro_gato_01.jpg" %} " alt="Tienda"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-light"><strong>Tienda</strong></h5>
              <p class="text-light"><strong>Todo los accesorios que necesites para tu mascota</strong> </p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a title="Donaciones" href="donaciones.html"><img src= "{% static "img/donaciones_01.jpg" %} " alt="Donaciones"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-light"><Strong>Donaciones</Strong></h5>
              <p class="text-light"><strong>Todo aporte voluntario es bienvenido, los animalitos te lo agraderan</strong></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <a title="Contacto" href="contacto.html"><img src="{% static "img/contactanos_01.jpg" %}" alt="Contacto"></a>
            <div class="carousel-caption d-none d-md-block">
              <h5 class="text-black"><Strong>Contacto</Strong></h5>
              <p>Si tienes alguna duda o consulta no dudes en llamarnos </p>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visuallys">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually">Siguiente</span>
        </button>
      </div>
      <br>
    </center> 
      <!--CARDS-->
      <h1 class="display-5 bg- text-center text-black p-6""><strong class="justify-content-center">Novedades</strong> </h1>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card">
            <img src="{% static "img/bandana_01.jpeg" %} " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bandana Perruna</h5>
              <p class="card-text"><small>Bandana para perros</small></p>
              <p class="card-text"><small>Stock Disponible <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1.5 8a6.5 6.5 0 1113 0 6.5 6.5 0 01-13 0zM0 8a8 8 0 1116 0A8 8 0 010 8zm11.78-1.72a.75.75 0 00-1.06-1.06L6.75 9.19 5.28 7.72a.75.75 0 00-1.06 1.06l2 2a.75.75 0 001.06 0l4.5-4.5z"></path></svg></small></p>
              <a class="btn btn-success btn-lg" href="tienda.html" role="button">Ir a Tienda</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static "img/fundacion_01.jpg" %} " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nueva Fundación</h5>
              <p class="card-text">Nos hemos hecho amigos de una nueva fundación, la cual recibira
                parte de nuestras ganancias, las cuales iran en ayuda de compra de alimentos para animales
              en codicion de calle. Haz tu aporte voluntario en la sección Donaciones, muchos animalitos te lo agradeceran.
              <br>
              <a href="donaciones.html" class="card-link">Donaciones</a> </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static "img/nosotros_01.jpg" %} " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sobre Nosotros </h5>
              <p class="card-text">Somos una empresa sin fines de lucros , que con nuestras ganancias ayudamos a fundaciones 
                animalistas, con el objetivo de que puedan tener los recursos para rescatar y mantener aniamles de situación de calle.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="{% static "img/donaciones_02.jpg" %} " class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">¿Quieres hacer un aporte voluntario?</h5>
              <p class="card-text">Acá estan nuestros datos:
                <ol>Banco Estado</ol>
                <ol>Cuenta Rut</ol>
                <ol>18.223.134-4</ol>
                <ol>cheemsmarket@gmail.com</ol>
                <a href="donaciones.html">Haz tu aporte</a>

              </p>
            </div>
          </div>
        </div>
      </div>
      
      </div>

      <div class="card text-center">
        <div class="card-header">
          Actulizaciones
        </div>
        <div class="card-body">
          <h5 class="card-title">Ultimas Alianzas</h5>
          <p class="card-text">Fundacion Unidad de Protección Animal</p>
          <a href="donaciones.html" class="btn btn-primary">Ir Donaciones</a>
        </div>
        <div class="card-footer text-muted">
          Actualizado hace 1 día
        </div>
      </div>
      <br>
      <!--UBICACION-->
    <h1 class="display-5 bg- text-center text-black p-6""><strong class="justify-content-center">Encuéntranos</strong> </h1>
      <br>
    <center>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.077690870305!2d-70.65978848487063!3d-33.44728238077488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c507f91be917%3A0xcfac72a68dd4b986!2sDuoc%20UC%20-%20Sede%20Padre%20Alonso%20de%20Ovalle!5e0!3m2!1ses!2scl!4v1649350072384!5m2!1ses!2scl" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </center>
      
      <!--FOOTER-->
      <footer class="bg-light text-center blank mx-2 ">
        <div class="container p-4 pb-0">
          <section class="">
            <form action="">
              <div class="row d-flex justify-content-center">
                <div class="col-auto">
                  <p class="pt-2">
                    <strong>Suscribite a nuestro newsletter</strong>
                  </p>
                </div>
                <div class="col-md-5 col-12">
                  <!-- EMAIL INPUT CON VALIDACION DE CORREO  -->
                  <div class="form-outline mb-4">
                    <input type="email" id="form5Example27" class="form-control" />
                    <label class="form-label" for="form5Example27">Correo Electronico</label>
                  </div>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-success mb-4">
                    Suscribirse
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-blue" href="index.html">Cheems Market</a>
        </div>
      </footer>
      

    
  </body>
</html>