{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}

  <!--Titulo de la pagina-->
    <div class="container-fluid">
        <body>

          <h1 class="display-5 bg- text-center text-black p-6"  ><strong class="justify-content-center">NOSOTROS</strong><br></h1>
              <p class="text-success text-center d-flex justify-content-center fs-5 bg-light">Esta organización nace a fines del año 2021,Surge de la idea de dos amigas con la intención de ayudar a las fundaciones animalistas mas necesitadas de nuestro pais, mediante la venta de productos de mascotas, de esta manera donamos nuestras ganancias para mejorar la calidad de vida de los animales en situacion de calle
                de ayudar a fundaciones  .</p> 
            
            <div class="card-group mt-4">
              <div class="card">
                  <img src="{% static 'img/paulo.jpg' %}" class="card-img-top" alt="..." id="fotonosotros">
                  <div class="card-body">
                      <h5 class="card-title text-success"><strong>Paulo Ramirez</strong></h5>
                      <p class="card-text"><strong>Analista Programadora Computacional</strong> Duoc Uc<br>Amo los animales desde que soy pequeño, siempre he sentido una gran cernia por ellos. Por eso he decido iniciar esta aventura con mi amiga, por que amamos los animales, y creemos que es muy importante valorarlos y ser consciente de una tenencia responsable.
                      <br>Es por ese motivo que nos inclinamos por ayudar a fundaciones que no cuentan con los recursos necesario para tan linda labor de rescatar y cuidar animales abandonados. </p>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Actualizado: 16-04-22</small>
                  </div>
              </div>
              <div class="card">
                  <img src="{% static 'img/matilde.jpeg' %}" class="card-img-top" alt="..." id="fotonosotros">
                  <div class="card-body">
                      <h5 class="card-title text-success"><strong>Matilde Villacura</strong></h5>
                      <p class="card-text"><strong>Estudiante Analista Programador</strong> Duoc Uc<br>Soy madrina de varios gatitos, ya que actualmente no puedo tenerlos porque por mi trabajo paso viajando. Por ello contribuir en ellos que son los olvidados de esta sociedad para mí es una de las cosas que le dan sentido a la vida</p>
                  </div>
                  <div class="card-footer">
                      <small class="text-muted">Last updated 5 mins ago</small>
                  </div>
              </div>
          </div>

  {% endblock %}