{%  extends 'core/index.html' %}
{% load static %}
{% block contenido %}
    
    <!--FORMULARIO-->
    <div class="container-fluid">
    <h1 class="display-5 bg- text-center text-black p-6"  ><strong class="justify-content-center">Registrate</strong><br></h1>
    <p class="text-success text-center d-flex justify-content-center fs-5 bg-light">Completa el siguiente formulario para ser parte de nuestra comunidad</p> 
    </div>
</script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div align="center" class="container-fluid">
    <form id="basic-form" action="" class="formulario" id="formulario" method="post">
      {% csrf_token %}
      <div class="formulario__grupo" id="grupo__nombreF" class="form-group container-fluid">
        <label for="nombreF" class="formulario__label">Nombre</label>
        <div class="formulario__grupo-input">
          <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Campo obligatorio">
        <i class="formulario__validacion-estado fas fa-times-circle"></i>
      </div></div>
      <div class="formulario__grupo" id="grupo__apellidoF">
        <label for="apellidoF" class="formulario__label">Apellido</label>
        <div class="formulario__grupo-input">
            <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="Campo obligatorio">
            <i class="formulario__validacion-estado fas fa-times-circle"></i>
        </div></div>
        <div class="formulario__grupo" id="grupo__mailF">
          <label for="mailF" class="formulario__label">Correo Electrónico</label>
          <div class="formulario__grupo-input">
              <input type="email" class="formulario__input" name="correo" id="correo" placeholder="a@a.cl">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
          </div></div>
          <div class="formulario__grupo" id="grupo__phoneF">
            <label for="phoneF" class="formulario__label">Teléfono</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="980203020">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
        <div class="formulario__grupo" id="grupo__phoneF">
            <label for="userF" class="formulario__label">Nombre Usuario</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="user" id="user" placeholder="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            <div class="formulario__grupo" id="grupo__phoneF">
            <label for="userF" class="formulario__label">Contraseña</label>
            <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="pass" id="pass" placeholder="">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <br>
            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Enviar</button>
            </div>
          {{mensaje}}
  </form>
  {% endblock %}